@import url('satoshi.css');
@import url('poppins.css');

:root {

  /* Colour Variables */
  --primary-color: #FFFFFF;
  --secondary-color: #3A4B41;
  --accent-color: #C08C3B;
  --hover-color: #786565;
  /* For Mobile */

  /* Margin Variables */
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.5rem;
  --margin-xl: 2rem;
  --margin-xxl: 3rem;
  --margin-ll: 4rem;

  /* Font Size Variables */
  --font-xs: 0.75rem;
  /* 12px */
  --font-s: 0.875rem;
  /* 14px */
  --font-m: 1rem;
  /* 16px */
  --font-mm: 1.125rem;
  --font-l: 1.25rem;
  /* 20px */
  --font-xl: 1.5rem;
  /* 24px */
  --font-xxl: 1.75rem;
  /* 28px */
  --font-xxxl: 2rem;
  /* 32px */
  --font-xxxxl: 2.5rem;
  /* 40px */
  --font-xxxxxl: 3rem;
  /* 48px */
  --font-ll: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins-Medium";
  overflow-x: hidden;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

html, body {
  scroll-behavior: smooth;
  overflow: auto;
}

/* Disable blue highlight on button click */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Disable blue highlight on link click */
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 1000;
  width: fit-content;
  padding: var(--margin-s) var(--margin-xxl);
}

.nav-menu {
  margin: 0;
  list-style: none;
  display: flex;
  height: 100%;
  border-radius: 5px;
  width: fit-content;
  background-color: var(--primary-color);
}

.nav-menu a {
  font-family: "Poppins-Medium";
  font-size: var(--font-mm);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  padding: var(--margin-s) var(--margin-m);
  transition: color 0.7s ease;
}

.nav-menu a:hover,
.nav-menu a.current {
  color: var(--accent-color);
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  width: 1.5rem;
  gap: 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  z-index: 1000;
  justify-content: center;
  height: 100%;
}

.menu-icon {
  width: 100%;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--secondary-color);
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.menu-toggle:hover .menu-icon {
  background-color: var(--accent-color);
}

/* X icon for Hamburger menu */
.menu-toggle.open .menu-icon:nth-child(1) {
  transform: translateY(0.5rem) rotate(-45deg);
}

.menu-toggle.open .menu-icon:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .menu-icon:nth-child(3) {
  transform: translateY(-0.5rem) rotate(45deg);
}

/* SECTION */
section {
  padding: var(--margin-xl);
  min-height: 100vh;
}

/* HERO */
#home {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 80px;
  box-sizing: border-box;
  padding-bottom: 11rem;
  margin-right: var(--margin-xl);
}

.side-bar .svg-button {
  display: inline-flex;
  fill: var(--secondary-color);
  transition: fill 0.3s ease, transform 0.3s ease;
  margin-top: var(--margin-m)
}

.side-bar .svg-button:hover {
  fill: var(--accent-color);
  transform: scale(1.05);
}


.side-bar .vertical-line {
  width: 2px;
  height: 60px;
  background-color: var(--secondary-color);
  margin: var(--margin-m) 0 var(--margin-xxl);
}

.side-bar .follow-text {
  font-size: var(--font-l);
  color: var(--secondary-color);
  transform: rotate(-90deg);
  transform-origin: center;
  white-space: nowrap;
}

#home .home-content {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Front Text*/
#home .text-content {
  position: relative;
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  left: calc(-1 * var(--margin-ll));
  box-sizing: border-box;
  padding-bottom: 9rem;
}

.text-content h1 {
  font-family: "Satoshi-Black";
  font-size: var(--font-ll);
}

.text-content h2 {
  font-family: "Poppins-Semibold";
  font-size: var(--font-xxl);
  margin-bottom: var(--margin-xl);
}

.text-content p {
  font-family: "Poppins-Medium";
  font-size: var(--font-l);
}

/* Front Image*/
#home .image-container {
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 40vw;
  min-width: 450px;
  overflow: hidden;
}

#home .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-content .highlight {
  color: var(--accent-color);
  font-weight: 550;
}

/* Small screens */
@media (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 180px;
    background-color: var(--primary-color);
    padding-top: 5rem;
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }

  .nav-menu li {
    min-height: 50px;
  }

  .nav-menu a {
    display: block;
    padding: var(--margin-s) var(--margin-xl);
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
  }

  .nav-menu a:hover,
  .nav-menu a.current {
    background-color: var(--hover-color);
    color: var(--accent-color);
  }

  .nav-menu.show {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }

  /* HOME */
  #home .home-content {
    flex-direction: column;
    align-items: center;
    gap: var(--margin-xxs);
  }

  .text-content {
    order: 2;
  }

  .text-content h1 {
    font-size: var(--font-xxxxl);
  }

  .text-content p {
    font-size: var(--font-m);
  }

  .contact-button {
    padding: var(--margin-s) var(--margin-l);
  }

  .image-container {
    order: 1;
  }

  .image-container img {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 300px) {
  .nav-menu {
    width: 100%;
  }

  .nav-menu a {
    text-align: center;
  }
}