@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {

  /* Colour Variables */
  --primary-color: #F5F5F5;
  --secondary-color: #174727; /*#435b4d; #8c8c7c; #45523e */
  --accent-color: #C08C3B;
  --hover-color: #e6e6e6;

  /* Margin Variables */
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --margin-ll: 10rem;

  /* Font Size Variables */
  --font-xs: 0.75rem; /* 12px */
  --font-s: 0.875rem; /* 14px */
  --font-m: 1rem; /* 16px */
  --font-l: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-xxl: 1.75rem; /* 28px */
  --font-xxxl: 2rem; /* 32px */
  --font-xxxxl: 2.5rem; /* 40px */
  --font-xxxxxl: 3rem; /* 48px */
  --font-ll: 3.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Poppins", sans-serif;
  font-weight: 450;
  overflow-x: hidden;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

html {
  scroll-behavior: smooth;
}

/* Disable blue highlight on button click */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Disable blue highlight on link click */
a {
-webkit-tap-highlight-color: transparent;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 min(8rem, 10vw) 0 min(9rem, 10vw);;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: var(--font-xxl);
  color: var(--secondary-color);
  user-select: none;
  padding: var(--margin-s) 0;
}

.nav-menu {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav-menu a {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: var(--font-l);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--secondary-color);
  padding: 0 var(--margin-s);
  transition: color 0.4s ease, font-weight 0.3s ease;
}

.nav-menu a:hover,
.nav-menu a.current {
  color: var(--accent-color);
  font-weight: 500;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  width: 1.5rem;
  gap: 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  z-index: 9999;
  justify-content: center;
  height: 100%;
}

.menu-icon {
  width: 100%;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--secondary-color);
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.menu-toggle:hover .menu-icon {
  background-color: var(--accent-color);
}

/* X icon for Hamburger menu */
.menu-toggle.open .menu-icon:nth-child(1) {
  transform: translateY(0.5rem) rotate(-45deg);
}

.menu-toggle.open .menu-icon:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .menu-icon:nth-child(3) {
  transform: translateY(-0.5rem) rotate(45deg);
}

/* SECTION */
section {
  padding: 2rem;
  min-height: 100vh;
  padding-top: 60.67px;
}

/* HERO */
#home {
  background-image: url('../images/bg.jpg');
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-position: center 60.67px; */
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5c0;
  backdrop-filter: blur(8px);
  z-index: 1;
}

#home .home-content {
  position: relative;
  z-index: 2;
  display: flex;
  gap: min(10vw, var(--margin-ll));
  justify-content: center;
  width: 100%;
  /* background-color: red; */
}

.text-content h1{
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: var(--font-ll);
  margin-top: var(--margin-xxl);
  /* background-color: blue; */
}

.text-content p{
  font-size: var(--font-l);
  margin-bottom: var(--margin-s);
  /* background-color: purple; */
}

.text-content .highlight {
  color: var(--accent-color);
  font-weight: 550;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  border-radius: 50%;
  width: min(35vw, 20rem);
  height: min(35vw, 20rem);
  object-fit: cover;
}

/* Small screens */
@media (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 180px;
    background-color: var(--primary-color);
    padding-top: 5rem;
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }

  .nav-menu li {
    min-height: 50px;
  }

  .nav-menu a {
    display: block;
    padding: var(--margin-s) var(--margin-xl);
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
  }

  .nav-menu a:hover,
  .nav-menu a.current {
    background-color: var(--hover-color);
    color: var(--accent-color);
  }

  .nav-menu.show {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }

  /* HOME */
  #home .home-content {
    flex-direction: column;
    align-items: center;
    gap: var(--margin-xxs);
  }
  .text-content {
    order: 2;
  }
  .text-content h1{
    font-size: var(--font-xxxxl);
  }
  .text-content p{
    font-size: var(--font-m);
  }

  .image-container {
    order: 1;
  }
  .image-container img {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 300px) {
  .nav-menu {
    width: 100%;
  }
  .nav-menu a {
    text-align: center;
  }
}